/* .App {
  text-align: center;
  .Welcome {
    text-align: end;
    font-size: 2em;
    color: #61dafb;
  }
}


.App-header {
  background-color: #e6ebf5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.Link {
  color: #61dafb;
}

.Welcome{
  color: white;
  text-decoration: line-through;

}
.hello{
  allign-items: top;
  color: red;
  background-color: yellow;
}
button{
  background-color: #61dafb;
  color: white;
  border: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
} */